@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Roboto', sans-serif;
}
.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 5fr;
    gap: 4px;
    height: 100vh;

}

.sidebar{
    display:grid;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 9fr;
    background-color:rgb(35, 75, 206);
    align-items: start;
    padding:10px;
    color:white;
}

.header{
    display:grid;
    grid-column: 2 / 3;
    background-color: white;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.5);
    padding:10px;
}

.headerContainer{
    display:grid;  
    grid-template-rows: 100px 10px;
}

.main{
    display:grid;
    grid-column: 2 / 3;
    background-color: rgb(223, 223, 223);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:10px;
}

.projectTodos{
    background-color: white;
    display:flex;
    padding:10px;
    gap:5px;


}

.todoDate{
    display: flex; 
    justify-content: flex-end;

}

.todoTitle{
    flex:1;
}